# Default values for samba.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# The name of the chart.
# default: .Chart.Name
# nameOverride:

# The destination namespace where the chart will be deployed
# default: .Release.Namespace
# namespaceOverride:

image:
  # The repository and image which is used.
  repository: "ghcr.io/crazy-max/samba"
  tag: "4.19.9@sha256:270a8dcaeb7be73c3a63e2d7cc966cfdc6ca70b418c59e4af406bee6ea41ded7"
  # The pullpolicy of the image.
  # Default: IfNotPresent
  # See: https://kubernetes.io/docs/concepts/containers/images/#imagepullpolicy-defaulting
  # pullPolicy:

# The labels attached to the pod.
# podLabels:

# The annotations attached to the pod.
# podAnnotations:

# Configure imagePullSecret if you are using private registry
# See: https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/
# imagePullSecrets:

# Set podSecurityContext for the samba POD
# See: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/
# podSecurityContext:

# Set securityContext for the sambe CONTAINER
# See: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/
# securityContext:

# The ports used to access the samba server.
# It is possible to configure multiple ports: https://github.com/crazy-max/docker-samba?tab=readme-ov-file#ports
ports:
  - name: samba
    containerPort: 445
    hostPort: 445

# Configure health of the pod by defining live- and readinessProbes.
# Checks whether the Samba service is still running by connecting to localhost with smbclient.
livenessProbe:
  exec:
    command:
      - smbclient
      - -L
      - \\localhost
      - -U
      - "%"
      - -m
      - SMB3
  initialDelaySeconds: 10
  periodSeconds: 30
  timeoutSeconds: 5
  failureThreshold: 3

# Uses smbstatus to check whether Samba is active and can accept clients.
readinessProbe:
  exec:
    command:
      - smbstatus
  initialDelaySeconds: 5
  periodSeconds: 10
  timeoutSeconds: 3
  failureThreshold: 3

# Define the resources of the samba pod.
# See: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/
# Example below.
# resources:
# requests:
#   memory: "64Mi"
#   cpu: "250m"
# limits:
#   memory: "128Mi"
#   cpu: "500m"

# Select node. Important if you have some local storage.
# See: https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/
# nodeSelector:

# Another way to assign the pod to a specific node
# See: https://kubernetes.io/docs/tasks/configure-pod-container/assign-pods-nodes-using-node-affinity/
# affinity:

# Support for tolerations
# See: https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration/
# tolerations:

# The storage configuration for the samba server data directory.
storage:
  # The storageClassName can be configured here.
  # If there is no one configured, it uses the default storageClass
  # storageClassName:
  size: 5Gi

# Additional environment variables for the samba server which will be injected to the container.
envs:
  - TZ: "Europe/Paris"
  - SAMBA_LOG_LEVEL: "0"

# The usermanagement.
# Each user will be created on the samba server container.
# The password of each user can be written here in in plain text but it is strongly discouraged.
# By default it uses the environment variable which will read by a secret called samba-user-{{ .user }}-password.
# You have to create this secret manually. It is recommended to use something like sealed secrets to encrypt you secrets and be able
# to check it into your git repository.
auth:
  # - user: backup
  #   password: ${BACKUP_USER_PASSWORD}
  #   uid: 1001
  #   gid: 1001
  #   group: samba_users

# Configuration of every share you want to create.
# See Documentation for more information: https://github.com/crazy-max/docker-samba?tab=readme-ov-file#configuration
# In addition you can specify the size of every share and the storageClass which the share should use.
# If you don't specify the StorageClassName, the share will use the default one.
share:
  # - name: misc
  #   path: /mnt/misc
  #   readonly: "no"
  #   guestok: "no"
  #   size: 10Gi
  #   storageClassName:
  # - name: Backup
  #   path: /mnt/backup
  #   readonly: "no"
  #   guestok: "no"
  #   validusers: "backup"
  #   size: 8Gi

# Set global settings for samba server see: https://github.com/crazy-max/docker-samba?tab=readme-ov-file#configuration
global:
  - "force user = foo"
  - "force user = foo"
